/*------------BARRA DE NAVEGACION------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid black; */
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: rgb(6, 33, 184);
    display: flex;
    align-items: center;
    height: 120px;
    transition: .5s;
}
h1{
    font-family: 'Audiowide', cursive;
    color: #fff;
}
.nav-flexContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    margin-right: 1em;
    height: 100%;
}
.nav-flexContainer__ul{
    display: flex;
    /* gap: 17px; */
}
nav ul li a{
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
nav ul li a:hover{
    background: rgb(35, 67, 248);
    padding: 0 25px;
    transition: .5s;
}
.logo{
    position: relative;
    width: 6em;
    height: 6em;
    margin: 1em 1em;
}
#menu{
    visibility: hidden;
}
.menu-icon{
    width: 25px;
    position: relative;
    z-index: 1;
    display: flex;
}
header label{
    cursor: pointer;
    visibility: hidden;
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
    header{
        height: 80px;
        transition: .5s;
    }
    .nav-flexContainer{
        margin-right: 8px;
    }
    .logo{
        width: 4em;
        height: 4em;
        margin: 1em 1em;
    }
    h1{
        font-size: x-large;
    }
    nav ul li a{
        height: 80px;
        padding: 0 10px;
        font-size: 15px;
    }
    nav ul li a:hover{
        padding: 0 15px;
    }
}
@media screen and (max-width: 1000px) {
    header{
        height: 70px;
        background: rgb(6, 33, 184);
        box-sizing: border-box;
        transition: .5s;
    }
    .nav-flexContainer{
        visibility: hidden;
        position: absolute;
        top: 70px;
        right: 0;
        margin: 0;
        height: 17em;
        overflow-x: hidden;
    }
    .logo{
        width: 3em;
        height: 3em;
        margin: 1em;
    }
    h1{
        font-size: large;
    }
    header label{
        visibility: visible;
        position: absolute;
        right: 20px;
    }
    .nav-flexContainer__ul{
        display: grid;
        grid-template-rows: repeat(5,1fr);
        width: 100vw;
        background: rgb(6, 33, 184);
        top: 0;
        height: 100%;
    }
    nav ul li{
        top: 0;
    }
    nav ul li a{
        width: 100vw;
        height: 100%;
        padding-left: 40px;
    }
    #menu:checked ~ .nav-flexContainer {
        visibility: visible;
    }
}
/*---------------------------------------------------------*/
/*MAIN*/
main{
    height: 80vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section{
    width: 60vw;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.consideraciones{
    padding: 20px;
    background: rgb(250, 97, 97);
    border-radius: 8px;
}
main li{
    list-style: inside;
}
.selecciones{
    width: max-content;
    padding: 20px 0;
}
label,.consideraciones h3{
    display: block;
    margin-bottom: 5px;
}
.accion{
    display: inline-block;
}
select, [type="text"]{
    margin-bottom: 10px;
}
[type="text"]{
    width: 300px;
    height: 25px;
}
#buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
[type="button"]{
    width: 150px;
    height: 25px;
    cursor: pointer;
}
[value="Confirmar"]{
    border-radius: 5px;
    border: 1px solid rgb(25, 86, 41);
    color: #fff;
    background: #108a49;
}
[value="Confirmar"]:hover{
    background: #0c6636;
}

/*---------------------------------------------------------*/
/*FOOTER*/
footer{
    background: #555;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer h3{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.container-icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 10px;
}
.fa-brands{
    font-size: 25px;
    color: #fff;
    transition: .2s;
}
i:hover{
    transform: translateY(-10px);
}
#copyright{
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
}